* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html, body {
    height: 100%
}

body {
    background: #595959;
    display: grid;
    place-items: center;
}


.wrapper {
    width: 400px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 22px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94, 104, 121, 0.288); 
}

.screen {
    height: 70px;
    width: 100%;
    padding: 20px 5px;
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-size: 40px;
    font-weight: 500;
    pointer-events: none;
    background-color: #dde1e7;
    border-radius: 10px;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.buttons {
    margin-top: 15px;
}

.button-rows {
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    font-size: 30px;
}

.calc-buttons {
    height: 60px;
    flex-basis: 22.5%;
    font-size: 30px;
    margin: 4px;
    border: none;
    outline: none;
    background: #dde1e7;
    border: 10px;
    border-radius: 20px;
    color: #333;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.calc-buttons:focus {
    background: #c2c2c2;
    color: #df974c;
    transform: scale(0.9);
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288); 
}

.calc-buttons:last-child {
    background-color: #df974c ;
    color: #dde1e7;
}

.calc-buttons:last-child:focus {
    background: #dfb07e;
}


.double {
    flex-basis: 49.7%;
}