* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

html, body {
    height: 100%
}

body {
    background: #595959;
    display: grid;
    place-items: center;
}

.container {
    width: 330px;
    padding: 40px 30px;
    background: #dde1e7;
    border-radius: 22px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94, 104, 121, 0.288);  
}

.result {
    height: 60px;
    width: 100%;
    background-color: #dde1e7;
    border-radius: 5px;
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288);  
}

.result input {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 30px;
    font-weight: 500px;
    padding: 0 20px;
    text-align: right;
    color: #595959;
    pointer-events: none;

}

 form .keyboard {
    text-align: center;
    padding: 30px 0 0 0;

}

.keyboard input[type="button"] {
    height: 56px;
    width: 56px;
    font-size: 23px;
    margin: 4px;
    border: none;
    outline: none;
    background: #dde1e7;
    border: 10px;
    border-radius: 20px;
    color: #333;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94, 104, 121, 0.288); 
}

.keyboard input[type="button"]:focus {
    background: #c2c2c2;
    transform: scale(0.9);
    box-shadow: inset -3px -3px 7px #ffffff73,
                inset 2px 2px 5px rgba(94, 104, 121, 0.288); 
}



.keyboard input[type="button"]:nth-child(4) {
    color: #f48b0d;
}